.property{
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    color: #FF6060;

    &__title{
        font-size: 28px;

        margin: 30px 0 0 0;
    }

    &__location{
        font-size: 18px;
        margin-top: 0;
    }

    &__tags{
        display: flex;
        column-gap: 1rem;
        flex-wrap: wrap;
        row-gap: 0.5rem;
        padding-top: 1rem;
    }

    .host{
        &__infos{
            display: flex;
            align-items: center;
            margin-top: 20px;
            justify-content: flex-end;
        }

        &__name{
            font-size: 18px;
            width: 80px;
            text-align: flex-end;
            margin-right: 1rem;
        }

        &__image{
            width: 64px;
            height: 64px;
            border-radius: 3rem;
        }

        &__rating{
            display: flex;
            justify-content: flex-end;
            column-gap: 1rem;
            margin-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}