.banner{
    display: flex;
    height: 98%;
    width: 100%;
    position: relative;
    max-width: 1440px;
    margin: auto;
    height: 200px;
    padding-bottom: 0.6rem;

                    // mobile & tablet
                    @media screen and (min-width: 200px) and (max-width: 767px) {
                        width: 92%;
                         
                    }


    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        display: flex;
        width: 100%;
        color: white;
        position: absolute;
        z-index: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        // mobile & tablet
         @media screen and (min-width: 200px) and (max-width: 767px) {
         font-size: 30px;
         }
    }

    &__image{
        width: 100%;
        background-size: 100%;
        border-radius: 25px;
        filter: brightness(0.7);
    }

 
}