.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-bottom: 3.75rem;
    margin: 1.5em auto 0;

     // mobile
     @media screen and (max-width: 450px) {
        padding-left: 1rem;
        
         
    }


    &-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 47px;
        padding: 0 1.25rem;
        border: none;
        border-radius: 0.5em;
        background: #FF6060;
        font-size: 24px;
        font-weight: 500;
        color: #FFF;
        margin: auto;

                        // mobile
                        @media screen and (max-width: 450px) {
                            width: 110%;
                             
                        }
    }

    &-content{
        position: relative;
        z-index: -1;
        width: 77%;
        margin: -1em auto 1em;
        padding: 2.5rem 1.25rem 1.25rem;
        display: flex;
        border-radius: 5px;
        background: #F7F7F7;
        color: #FF6060;
        font-size: 24px;
        font-weight: 400;
        list-style: none;

                                // mobile
                                @media screen and (max-width: 450px) {
                                    width: 110%;
                                    font-size: 20px;
                                     
                                }
    }

    .Fiabilité,.Respect,.Sécurité,.Service {
        margin-bottom: 1.5rem;
        width: 100%;
    }
}


// Page Property

.dropdowns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
    max-width: 1440px;

                   // mobile & tablet
                   @media screen and (max-width: 450px) {
                    flex-direction: column;
                    padding-left: 1rem;
                    
                    }


    .property-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 582px;
        height: 52px;
        padding: 0 1.25rem;
        border: none;
        border-radius: 0.5em;
        background: #FF6060;
        font-size: 18px;
        font-weight: 500;
        color: #FFF;

                   // mobile & tablet
                   @media screen and (max-width: 450px) {
                    width: 92%;
                    
                    }

    }


    .property-content{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: -1;
        padding: 2rem 1.25rem 1.25rem;
        display: flex;
        border-radius: 5px;
        background: #F7F7F7;
        color: #FF6060;
        font-size: 18px;
        font-weight: 400;
        width: 580px;

        @media screen and (max-width: 450px) {
            width: 92%;
            font-size: 14px;
            }
    
        & .property-list{
            display: flex;
            flex-direction: column;
        }
    }
}



.Description, .Equipements{
    margin-bottom: 1.5rem;
}