.footer{
    width: 100%;
    background-color: black;



    @media screen and (max-width: 450px) {
       width: 100%;
        }

    &__image{
        width: 100%;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 1rem;

        & img{
            width: 6rem;
        }
    }

    &__copyright{
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        color: white;
        padding-bottom: 2rem;
    }
}