.header{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    padding: 2.5rem 0; 

    &__logo{
        text-align: center;
        width: 150px;
    }

    &__navbar{
        display: flex;

        & a{
            display: flex;
            align-items: center;
            font-size: 24px;
            color: #FF6060;
            text-align: center;
            text-decoration: none;

            &.active{
                h3{
                    margin: 0 0 0 2.5rem;
                    border-bottom: #FF6060 solid 1px;
                    padding-bottom: 0;
                }
            }
        }
    }
}