.header{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    padding: 2.5rem 0; 



    &__logo{
        text-align: center;
        width: 150px;

                // mobile
                @media screen and (max-width: 450px) {
                    margin-left: 2rem;
                    margin-right: 7rem;
                     
                }
    } 

    &__navbar{
        display: flex;

        

        & a{
            display: flex;
            align-items: center;
            font-size: 24px;
            color: #FF6060;
            text-align: center;
            text-decoration: none;
            margin: 0 0 0 2.5rem;

        // mobile
    @media screen and (max-width: 450px) {
        font-size: 14px;
        margin: 0 0 0 3rem;
        text-transform: uppercase;         
    }
        }
    }
}